#title{
  background-color: #ff4c68;
  color: #fff;
}

.container-fluid{
  padding: 3% 15%;
}



h1{

  font-size: 3.5rem;
  line-height: 1.5;
}
h2{
  font-family:"Montserrat";
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}
h3{
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 1.5rem;
}

body{
  font-family: 'Montserrat', sans-serif;
}
i:hover{
  color: #ff4c68;
}


/* Navigation Bar */

.navbar{
  padding: 0 0 4.5rem;
}
.container{
  padding-left: -12px;
}

.navbar-brand{
  font-family: 'Ubuntu Mono', monospace;
  font-size:2.5rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat"
}

/* Download Buttons */

.download-button{
  margin : 15% 3% 5% 0;
}

/* tittle image */

.title-image{
  margin-left: 35%;
  width: 60%;
  transform: rotate(25deg);
  /* padding-top: 100px; */
}

/* Features */

.col{
  text-align:center;
}

.features{
  margin: 9% auto 9%;
}

/* Features icons */
.fas{
  margin-bottom: 5%;
  font-size: 3.5rem;
  color: #ef8172;
}

/* Features p */



/* Testimonial section */
#testimonials{

  text-align:Center;
  background-color: #ef8172;
  color:#fff;

}

.testimonial-image{
  border-radius: 100%;
  width: 10%;
  margin: 20px;
}

#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item{
  padding: 7% 15%;
}
